<h1>My Appointments</h1>

<ul id="appointments">
  <% @appointments.each do |appointment| %>
    <li>
      <% appointment.date %>
      <% appointment.granny %>
      <% appointment.status %>
    </li>
  <% end %>
</ul>

<hr>
