<h1>Users My Appointments</h1>

  <ul>
    <% @appointment.each do |a| %>
      <li>
        <%= a.granny.user.name %>
        <%= a.date %>
        <%= a.location %>
        <%= a.status %>
      </li>
    <% end %>
  </ul>
