<div class="container mt-md-4" align="center"><h1>My Appointments</h1>
</div>

  <ul>
    <% @appointment.each do |a| %>
      <li>
        <%= @granny.user.name %>
        <%= a.date %>
        <%= a.location %>
        <%= a.status %>
      </li>
    <% end %>
  </ul>
