<div class="jumbotron mx-auto">
<!--   <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4"> -->
  <h3 align="center">Make a plan with gran.</h3>
  <p class="lead" align="center">
    <a class="btn btn-dark btn-lg" href="#" role="button">Sign up</a>
  </p>
</div>
