<div class = "text-center">
  <%= image_tag 'https://res.cloudinary.com/diq781xvq/image/upload/v1621063964/movie-bookmark-app/Screenshot_2021-05-15_at_08.32.37_bv4jcw.png', style: 'height:150px;width:auto;' %>
</div>
<div class="container-banner">
  <h1> Make a plan with gran</h1>
  <button type="button" class="btn btn-dark">Sign-up</button>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/diq781xvq/image/upload/v1621065220/movie-bookmark-app/Rectangle_3_iqyvgd.png" class="card-img-top" alt="granny-smile">
        <div class="card-body">
          <h5 class="card-title">Mai</h5>
          <p class="card-text">London</p>
        </div>
      </div>
    </div>
    <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img src="https://res.cloudinary.com/diq781xvq/image/upload/v1621065220/movie-bookmark-app/Rectangle_3_iqyvgd.png" class="card-img-top" alt="granny-smile">
      <div class="card-body">
        <h5 class="card-title">Rosi</h5>
        <p class="card-text">London</p>
      </div>
    </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/diq781xvq/image/upload/v1621065220/movie-bookmark-app/Rectangle_3_iqyvgd.png" class="card-img-top" alt="granny-smile">
        <div class="card-body">
          <h5 class="card-title">Luisa</h5>
          <p class="card-text">London</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/diq781xvq/image/upload/v1621065220/movie-bookmark-app/Rectangle_3_iqyvgd.png" class="card-img-top" alt="granny-smile">
        <div class="card-body">
          <h5 class="card-title">Emma</h5>
          <p class="card-text">London</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/diq781xvq/image/upload/v1621065220/movie-bookmark-app/Rectangle_3_iqyvgd.png" class="card-img-top" alt="granny-smile">
        <div class="card-body">
          <h5 class="card-title">Emma</h5>
          <p class="card-text">London</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/diq781xvq/image/upload/v1621065220/movie-bookmark-app/Rectangle_3_iqyvgd.png" class="card-img-top" alt="granny-smile">
        <div class="card-body">
          <h5 class="card-title">Emma</h5>
          <p class="card-text">London</p>
        </div>
      </div>
    </div>
</div>
