<div class="container" align="center"><img src="https://i.imgur.com/8Td1ixi.png" style="width: 500px;"></div>
<div class="background">
<div class="jumbotron mx-auto">
<!--   <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4"> -->
  <h3 align="center">Make a plan with gran.</h3>
  <p class="lead" align="center">
      <p align="center"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-dark btn-lg" %>
  </p></p>
</div>
</div>

<div class="container">
    <div class="cards">

    <div class="card">
        <img src="https://i.imgur.com/lAwLtAg.jpg" alt="">
      <div class="row">
        <div class="heading col-md-6">Alice W., 82</div>
        <div class="heading col-md-6 text-right">5.0 ★</div>
      </div>
        <p>I love to play bridge and gossip with the gals. I am also a good listener.</p>
      </div>

      <div class="card">
        <img src="https://i.imgur.com/OckQ05P.jpg" alt="">
        <div class="row">
        <div class="heading col-md-6">Meryl D., 79</div>
        <div class="heading col-md-6 text-right">5.0 ★</div>
      </div>
        <p>I ride motorcycles. I need a new set of ride-or-die friends. Interested to join?</p>
      </div>

      <div class="card">
        <img src="https://i.imgur.com/iRFFkgo.jpg" alt="">
        <div class="row">
          <div class="heading col-md-6">Agnes P., 62</div>
        <div class="heading col-md-6 text-right">5.0 ★</div>
      </div>
        <p>I'm a successful retired business owner. Happy to share my wisdom over tea.</p>
      </div>

      <div class="card">
        <img src="https://i.imgur.com/zvU9QKw.png" alt="">
        <div class="row">
          <div class="heading col-md-6 text-left">Otto A., 83</div>
        <div class="heading col-md-6 text-right">5.0 ★</div>
      </div>
        <p>I'm a former air-force pilot. I'm interested in writing a book about my life.</p>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="cards">

      <div class="card">
        <img src="https://res.cloudinary.com/djiwfu4hh/image/upload/v1621019916/homepage/photo-1447005497901-b3e9ee359928_wgeuph.webp" alt="">
        <div class="row">
          <div class="heading col-md-6">Edith B., 83</div>
        <div class="heading col-md-6 text-right">5.0 ★</div>
      </div>
        <p>I love beach holidays and knitting. I would love to have someone to knit and talk with!</p>
      </div>

      <div class="card">
        <img src="https://i.imgur.com/pbnu086.jpg" alt="">
        <div class="row">
          <div class="heading col-md-6">Akiko K., 78</div>
        <div class="heading col-md-6 text-right">5.0 ★</div>
      </div>
        <p>I love to do jigsaw puzzles. I am happy for anyone to join me every Sunday.</p>
      </div>


      <div class="card">
        <img src="https://i.imgur.com/JqdJlmF.jpg" alt="">
        <div class="row">
          <div class="heading col-md-6 text-left">Harry S., 75</div>
        <div class="heading col-md-6 text-right">5.0 ★</div>
      </div>
        <p>I like to do crossword puzzles and watch sports. I'm a Man United fan!</p>
      </div>

      <div class="card">
        <img src="https://i.imgur.com/bUAXzlp.png" alt="">
       <div class="row">
          <div class="heading col-md-6 text-left">Silvie P., 68</div>
        <div class="heading col-md-6 text-right">5.0 ★</div>
      </div>
      <p>I love to laugh and go to cafes! Join me for a cat cafe date!</p>
    </div>
  </div>
</div>

