.card img {
  width: 220px;
  height: 220px;
}

// .card h6 {
//   text-align: left;
//   margin-top: 5px;
//   color: #000;
// }
.heading {
  font-size: 16px;
  font-weight: 500;
}

.card p {
  opacity: .5;
  text-align: left;
}

.card {
  width: 260px;
  height: 360px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-left: 0.2px;
  margin-right: 0.2px;
}

.background {
  background-color: #fff;
}
