.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

p {
  color: #000;
}
