.jumbotron{
  background-image: url('https://res.cloudinary.com/djiwfu4hh/image/upload/v1621025225/newbanner_gkicgf.jpg');
  background-position: center;
  width: 1200px;
  min-height: 600px;
  background-size: cover;
}

.jumbotron h3{
  margin-top: 220px;
  margin-bottom: 30px;
  color: #000;
}
