.jumbotron{
  background-image: url('https://i.imgur.com/goP1XEb.jpg');
  background-position: center;
  width: 1200px;
  min-height: 600px;
  background-size: cover;

}

.jumbotron h3{
  margin-top: 220px;
  margin-bottom: 30px;
}
