<<<<<<< HEAD
# the info for one appointment

=======
<ul>
  <% @appointments.each do |appointment| %>
    <li><%= appointment.date %></li>
    <li><%= appointment.time %></li>
    <li><%= appointment.location %></li>
  <% end %>
</ul>
>>>>>>> cd93d63f315ccf1a8d1aa32713d340091fecc10e
