<%= simple_form_for [@appointment, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :description %>
  <%= f.submit class:’btn btn-primary’ %>
<% end %>

<form action=“” method=“post”></form>
