<h1>My Appointments</h1>

<ul id="appointments">
  <% @tasks.each do |appointment| %>
    <li>
      <% if appointment.completed %>
        <i class=""></i>
      <% else %>
        <i class=""></i>
      <% end %>
    </li>
  <% end %>
</ul>

<hr>

<%= link_to past_appointments_path do %>
  <i class=""></i> Past appointments
<% end %>
